/* ================================
    CSS STYLES  Ver. 1.0
	Dynamic Duo (Team Ever and Robs)
   ================================
*/

html{
  height: 100%;
  font-size: 10px;
}

/***********************************/
/* Menus  */
/***********************************/

$colorDisabled: #aaaaaa;
$colorBackground: #c1c1c1;
$colorHeaderFont: #ffffff;
$colorHeaderBackground: #257b83;

/*Las etiquetas TODO son para cosas que se deben hacer*/

nav {
  width: 100%;
  text-align: right;
  padding: 0;
  height: auto;

  ul {
    margin: 0;
    list-style-type: none;
    float: none;
  }

  li {
    display: inline;
  }
}

header{
  color: $colorHeaderFont;
  font-size: 1.2rem;

  .wrap {
    padding-bottom:0;
  }

  input {
    border-style: none;
  }

  input[type="button"] {
    border-radius: 0.7rem;
    font-size: 1.2rem;
    color: $colorHeaderBackground;
    margin-top: 4.8rem;
    background-color: $colorBackground;
    cursor: pointer;
  }

  input[type="button"]:hover {
    background-color: #dedddd;
  }
}  

.login-area {
  margin: 1rem 0;
  font-size: 1.5rem;
}

#search {
  input{
    border-radius: 0.4rem;
    padding: 1rem;
    margin: 4vh 0;
    width: 100%;
  }
} 


.btnSearch{
  input[type="button"] {
    margin-top: 65%;
  }
}

.left-menu {
  font-size: 1.2rem;
  ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  li{
    list-style-type: none;
    padding: 0 0 5px 3px;
    margin-right: 1rem;

    a{
      color: #000;
      text-decoration: none;
      white-space: nowrap;
    }

    a:visited{
      color: #000;
      text-decoration: none;
      white-space: nowrap;
    }
  }

  li:hover{
    color: #000;
    text-decoration: none;
    background-color: #edf0f5;
    white-space: nowrap;
  }
}

input[type="checkbox"] {
  margin-top: 0;
}

/***********************************/
/* Fondos de Pagina  */
/***********************************/
header {
	height: auto;
	padding: 0;
	width: 100%;
	background-color: $colorHeaderBackground;
	margin: 0px auto;
  background: #257b83; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#257b83, #39a3ad); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#257b83, #39a3ad); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#257b83, #39a3ad); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#257b83, #39a3ad); /* Standard syntax */
}

#fondoIndex {
  background-image: url("../imgs/homeBg.jpg");
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  max-height: 100vh;
}

footer {
	width:100%;
	margin:0px auto;
	height:auto;
	font-size:1.2rem;
  background-color:rgba(238, 238, 238, 0.7);
  padding: 1rem 0;
  text-align: left;
  line-height: 1rem;
  text-transform: uppercase;
  bottom: 0;
  position: fixed;
}

/***********************************/
/* Logos y otras imagenes  */
/***********************************/
#logo-area {
  float: left;
  text-align: center;
  padding-top: 3vh;
  img {
    max-width: 100%;
  }
}



/***********************************/
/* Parrafos y titulos  */
/***********************************/
header h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 4.5rem;
  font-weight: 400;
  color: #fff;
  margin: 2.5rem 0;
}

.content {
  font-size: 1.6rem;
  h2 {
    text-align: center;
    padding-top: 2rem;
  }
} 

#signup-area {
  background-color: rgba(237, 240, 245, 0.8);
  border-radius: 0.7rem;
  text-align: center;
  width: 50%;
  margin: 0 auto;
  padding-bottom: 2%;

  input {
    border-radius: 0.7rem;
    border-style: none;
    padding: 1rem 0.5rem;
    margin: 2.5%;
  }

  .campos {
    width: 81.63%;
    margin: 0px auto;
  }
}

#edit-area {
  text-align: center;
  padding-bottom: 2%;

  input {
    border-radius: 0.7rem;
    border-style: none;
    padding: 1rem 0.5rem;
    margin: 2.5%;
  }

  .campos {
    width: 81.63%;
    margin: 0px auto;
  }

  select {
    border-radius: 0.7rem;
    border-style: none;
    padding: 1rem 0.5rem;
    margin: 2.5%;
    
  }
}

.general, .password {
  cursor: pointer;
}

.edit-general {
  
}

.edit-password {
  
}

.selected {
  font-weight: 700;
}

.visible {
  display: block;
}

.not-visible {
  display: none;
}

.disabled {
  background-color: $colorDisabled !important;
  cursor: default !important;
}

.campos {
  input {
    width: 90%;
  }

  input[type="radio"]{
    width: auto;
  }

  input[type="button"] {
    border-radius: 7px;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    background-color: #257b83;
    cursor: pointer;
  }

  input[type="button"]:hover {
    background-color: #1e5d63;
  }  

  select {
    width: 90%;
  }
} 

.post-area {
  font-size: 1.2rem;
  background-color: rgba(237, 240, 245, 1);
  text-align: justify;;
  margin: 0;
  padding: 2%;

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    margin-bottom: 10px;

    a {
      color: #000;
      text-decoration: none;
    }

    a:visited {
      color: #000;
      text-decoration: none;
      white-space: nowrap;
    }
  }

  li:hover {
    background-color: #cdd1d6;
    text-decoration: none;
  }

  img {
    width: 10%;
  }

  .profilePic {
    max-width: 5.10%;
  }
}

.profilePic {
    max-width: 100%;
  }

  .cover {
    text-align: center;

    img {
      width: 100%;
    }
  }

  .no-hover:hover {
    background-color: transparent !important;
  }

.write-post {
  background-color: rgba(237, 240, 245, 1);
  text-align: justify;
  width: 56.27%;
  margin: 0;
  padding: 2%;
  float: left;

  .small-icon img {
    width: 5.10%;
  }

  .profilePic {

    text-align: center;
    img {
        width: 60%;
    }
  }
   

  img {
    max-width: 100%;
  }

  form textarea {
    box-sizing: border-box;
    height: auto;
    display: block;
    width: 100%;
    padding: 6px 2%;
    font-size: 1.4rem;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  }

  h1 {
    text-align: left;
    font-size: 2.4rem;
    line-height: 2.4rem;
    margin: 0;
  }

  h2 {
    text-align: left;
    font-size: 2rem;
    line-height: 2rem;
    margin: 0;
  }
}

.counter {
    display: inline;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 10px;
}

.btn-zone {
  text-align: right;
  
  a{
    text-decoration: none;
  }
}

.btn {
  border-radius: 7px;
  font-size: 2rem;
  color: #fff;
  background-color: #257b83;
  border-style: none;
  padding: 5px;
  cursor: pointer;
}

.posts {
    clear: both;
    list-style: none;
    padding-left: 0;
    width: 100%;

   p {
        word-wrap: break-word;
   }

    li {
      background-color: #fff;
      border: 1px solid #d8d8d8;
      padding-top: 10px;
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 10px;
      margin-bottom: 10px;
      word-wrap: break-word;
      min-height: 4.29%;

      img {
        width: 100%;
      }
    }
}

/***********************/
/* Controles estandard */
/***********************/

body {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding: 0;
  background-color: #c1c1c1;
  font-family: 'Roboto', sans-serif;
  width: 100%;
}



.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-table; }
/* Hides from IE-mac \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* End hide from IE-mac */

.wrap {
  width:980px;
  margin:0px auto;
}

/***********************/
/* Columnas */
/***********************/

.margin_left {
  margin-left: 2.04%;
}

.margin_right {
  margin-right: 2.04%;
}

.margin_top {
  margin-top: 20px;
}

.margin_bottom {
  margin-bottom: 20px !important;
}

.columns {
  float: left;
  text-align: left;
}

.col-1 {
  @extend .columns;
  width: 6.12%;
}

.col-2 {
  @extend .columns;
  width: 14.29%;
}

.col-3 {
  @extend .columns;
  width: 22.45%;
}

.col-4 {
  @extend .columns;
  width: 30.61%;
}

.col-5 {
  @extend .columns;
  width: 38.78%;
}

.col-6 {
  @extend .columns;
  width: 46.94%;
}

.col-7 {
  @extend .columns;
  width: 55.10%;
}

.col-8 {
  @extend .columns;
  width: 63.27%;
}

.col-9 {
  @extend .columns;
  width: 71.43%;
}

.col-10 {
  @extend .columns;
  width: 79.592%;
}

.col-11 {
  @extend .columns;
  width: 87.76%;
}

.col-12 {
  @extend .columns;
  width: 95.92%;
}

.rest {
  @extend .columns;
  width: 4.08%;
}

.fullsize {
  margin: 0px auto;
  width: 100%;
  float: left;
}

@media screen and (max-width: 980px) {
  .wrap {width: 100%;}
  header input[type="button"] { font-size: 1.15rem; }
}

@media screen and (max-width:480px) {
  .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .rest, .fullsize {width:100%; float:none;}
  .margin_left {margin-left:0%;}
  .margin_right {margin-right:0%;}
  #signup-area {width: 100%; margin: 1rem 0 0 0;}
  #signup-area .campos {width: 100%;}
  .wrap {width: 100%;}
  .clearfix {display: inline-table;}
  .desktopOnly {display: none;}
  .login-area {text-align: center; width: 90%; margin: 0 auto; font-size: 2.2rem;}
  header input[type="button"] {margin: 4rem 0; width: 100%; font-size: 2.2rem;}
  footer {position: relative;}
  #fondoIndex {background-image: none; background-color: #c1c1c1;}
  #search {width: 90%; margin: 0 auto;}
  .btnSearch {margin: 2rem auto;}
  .btnSearch input[type="button"] {margin:0 0 2rem 0;}
  .write-post {width: 100%; margin: 0 auto;}
  .write-post form textarea {width: 90%; margin: 0 auto;}
  #logo-area {
    img {
      max-width: 18.75%;
    }
  }
}